<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left"> 
    		<h1>Resume Parser</h1>

    		<h2>Submit resume in JSON format, The Format which the application understands is here <%=link_to 'Resume', '/resume_empty.json'%>
      </h2>
    			<%= form_tag("/parse", method: "post", multipart: true ) do %>
					<%= file_field_tag 'file', required: true %>
					</br>
					<%= submit_tag("Submit") %>
				<% end %>

    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
</div>


