// Place all the styles related to the ResumeParser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
   
    padding: 2spx;
}

table {
	border-spacing: 2px;
	width:30%;
}


lead {
    font-size: 1.25rem;
    font-weight: 300;
}